In [1]:
from fastai.tabular import *

In [2]:
path = untar_data(URLs.ADULT_SAMPLE)
df = pd.read_csv(path/'adult.csv')

Downloading http://files.fast.ai/data/examples/adult_sample

In [3]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [4]:
dep_var = 'salary'
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cont_names = ['age', 'fnlwgt', 'education-num']
procs = [FillMissing, Categorify, Normalize]

In [5]:
test = TabularList.from_df(df.iloc[800:1000].copy(),path = path, cat_names=cat_names, cont_names= cont_names)

In [7]:
data = (TabularList.from_df(
    df, path = path, cat_names= cat_names, cont_names= cont_names, procs=procs)
    .split_by_idx(list(range(800, 1000)))
    .label_from_df(cols = dep_var)
    .add_test(test)
    .databunch()
    )

In [8]:
data.show_batch(10)

In [9]:
learn = tabular_learner(data, layers = [200, 100],metrics = accuracy)

In [11]:
%%time
learn.fit(1,1e-2)

Wall time: 1min 8s

In [12]:
row = df.iloc[0]
learn.predict(row)

(Category >=50k, tensor(1), tensor([0.4361, 0.5639]))

## Hack

In [13]:
learn = tabular_learner(data, layers = [200, 100],metrics = accuracy).to_fp16()

In [14]:
%%time
learn.fit(1,1e-2)

Wall time: 1min 3s